
#modal-root {
    position: relative;
    z-index: 999;
  }

.NavClass{
    
    list-style: none;
    padding: 20px;
    border-bottom: 1px solid grey;
    
}
.NavClass li {
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    color: black;
}

.NavClass li a{
    text-decoration: none;
    color:black;
}

.h2Class{
    color:grey;
    margin-bottom:30px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavClass li a.active{
color:green;
}